<h1><%= @list_name %></h1>
<ul class="thumbnails">
  <% @photos.each do |photo| %>
    <li class="thumbnail-item" data-toggle="tooltip" title="<%= File.basename(photo.full_name) %>, <%= photo.date_time_original.getlocal if photo.date_time_original %>">
      <div class="thumbnail">
	<span class="inline-thumbnail" id="photo<%= photo.id.to_s %>"><%= link_to image_tag(url_for(:action => 'inline_thumbnail', :id => photo.id)), photo %></span>
      </div>
    </li>
  <% end %>
</ul>
