<h1>Listing photos: <%= @list_name %></h1>

<table>
  <tr>
    <th>File name</th>
    <th>Thumbnail</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= File.basename(photo.full_name) %></td>
    <td><%= link_to image_tag(url_for(:action => 'inline_thumbnail', :id => photo.id)), photo %></td>
    <td><%= photo.date_time_original.getlocal if photo.date_time_original %></td>
    <td><%= link_to 'Show', photo %></td>
  </tr>
<% end %>
</table>
