<p id="notice"><%= notice %></p>

<p>
  <b>File name:</b>
  <%= File.basename(@photo.full_name) %>
</p>

<p>
  <b>Directory:</b>
  <%= @photo.directory.path %>
</p>

<p>
  <%= link_to "original size", :action => 'original_image', :id => @photo.id %>
  <%= image_tag url_for(:action => 'inline_image', :id => @photo.id) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
