<%- model_class = @photo.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>File name:</b>
  <%= File.basename(@photo.full_name) %> <%= link_to "original size",{ :action => 'original_image', :id => @photo.id }, :class => 'btn' %>
</p>

<p>
  <b>Directory:</b>
  <%= @photo.directory.path %>
</p>

<p>
  <%= image_tag url_for(:action => 'inline_image', :id => @photo.id) %>
</p>


<div class="form-actions">
  <%= link_to 'Back', :back, :class => 'btn'  %>
</div>
